@tailwind base;
@tailwind components;
@tailwind utilities;
.borderless-select.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
    border: none !important;
}
.transparent-select.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
    background: transparent !important;
}

.parallax {
    overflow: hidden;
    margin: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
  }
  
  .parallax .scroller {
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
  }
  
  .parallax span {
    display: block;
    margin-right: 10px;
  }
  
  .floating-label-input:focus ~ .floating-label,
  .floating-label-input:not(:placeholder-shown) ~ .floating-label {
    transform: scale(0.70) translateY(-1.2rem);
    opacity: 1;
  }
  .floating-label {
    transition: transform 0.2s, opacity 0.2s;
    transform-origin: top left;
  }

  .floating-label-select:focus ~ .floating-label,
  .floating-label-select:not([value=""]) ~ .floating-label {
    transform: scale(0.75) translateY(-1.5rem);
    opacity: 1;
  }

  .ant-popover .ant-popover-inner {
    width: 400px !important;
  }
  @media screen and (max-width: 480px) {
    .ant-popover .ant-popover-inner {
      width: 250px !important;
    }
  }