@tailwind base;
@tailwind components;
@tailwind utilities;
.borderless-select.ant-select-outlined:not(.ant-select-customize-input)
  .ant-select-selector {
  border: none !important;
}
.transparent-select.ant-select-outlined:not(.ant-select-customize-input)
  .ant-select-selector {
  background: transparent !important;
}

.parallax {
  overflow: hidden;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax span {
  display: block;
  margin-right: 10px;
}

.floating-label-input:focus ~ .floating-label,
.floating-label-input:not(:placeholder-shown) ~ .floating-label {
  transform: scale(0.7) translateY(-1.2rem);
  opacity: 1;
}
.floating-label {
  transition: transform 0.2s, opacity 0.2s;
  transform-origin: top left;
}

.floating-label-select:focus ~ .floating-label,
.floating-label-select:not([value=""]) ~ .floating-label {
  transform: scale(0.75) translateY(-1.5rem);
  opacity: 1;
}

.ant-popover .ant-popover-inner {
  width: 400px !important;
}
@media screen and (max-width: 480px) {
  .ant-popover .ant-popover-inner {
    width: 250px !important;
  }
}

.VIpgJd-ZVi9od-ORHb {
  height: 0px !important;
  overflow: hidden;
}
.VIpgJd-ZVi9od-ORHb-OEVmcd {
  height: 0px !important;
  overflow: hidden;
  border-bottom: none !important;
  box-shadow: none !important;
}
.goog-te-gadget {
  color: #fffcf5 !important;
}
.VIpgJd-ZVi9od-l4eHX-hSRGPd {
  height: 0px !important;
  overflow: hidden !important;
}
.VIpgJd-ZVi9od-l4eHX-hSRGPd img {
  height: 0px !important;
  overflow: hidden !important;
}
.goog-te-gadget .goog-te-combo {
  border: 1px solid #b30015 !important;
  height: 30px !important;
  width: 170px !important;
  border-radius: 5px !important;
}
.goog-te-gadget {
  font-size: 0px !important;
}
.VIpgJd-ZVi9od-l4eHX-hSRGPd {
  height: 0px !important;
  font-size: 0px;
}
.VIpgJd-ZVi9od-l4eHX-hSRGPd img {
  width: 0px !important;
  height: 0px !important;
}
.VIpgJd-ZVi9od-aZ2wEe-OiiCO-ti6hGc {
  height: 0px !important;
  width: 0px !important;
  overflow: hidden !important;
}
.VIpgJd-ZVi9od-l4eHX-hSRGPd,
.VIpgJd-ZVi9od-l4eHX-hSRGPd:link {
  font-size: 0px !important;
  color: #fffcf5 !important;
}
.notranslate {
  translate: none !important;
}