/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/globals.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
/* Universal Reset */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Ensure no horizontal overflow and responsive scaling */
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* Normalize link appearance */
a {
  color: inherit;
  text-decoration: none;
}

/* Body Styling */
body {
  font-family: "Outfit", sans-serif;
  background-color: var(
    --background-color
  ); /* Make sure this variable is defined */
}

/* Heading Styling */
h1 {
  color: var(--primary-color); /* Make sure this variable is defined */
  margin-bottom: 1rem; /* Add some spacing to avoid crowded content */
}

/* Button Styling */
button {
  background-color: var(
    --secondary-color
  ); /* Make sure this variable is defined */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px; /* Adds some rounding to the button */
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

/* Button hover effect */
button:hover {
  background-color: var(--primary-color); /* Example: change color on hover */
}

